<div style="text-align:center; margin-top:4rem;">
	<img src="<%- url_for(theme.social['wechat']) %>" />
	<p style="margin-top:2px; color:maroon;">↑↑↑ 扫码关注 Zongsoft 微信公众号 ↑↑↑</p>
</div>

<hr style="margin-top:2em;margin-bottom:2em;margin-left:0;margin-right:0;padding:0;height:2px;border:0;background-color:#e8e8e8;" />

<div style="margin-bottom:4em;">
	<img src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" width="">
	<p style="margin-top:4px;">
本作品采用 <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="bi-link">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a> 进行许可。欢迎转载、使用、重新发布，但必须保留本文的署名 <a target="_blank" href="https://github.com/zongsoft" class="bi-link">钟峰</a>（包含链接：<a target="_blank" href="http://zongsoft.github.io" class="bi-link">http://zongsoft.github.io</a>），不得用于商业目的，基于本文修改后的作品务必以相同的许可发布。如有任何疑问或授权方面的协商，请致信给我 (zongsoft@qq.com)。
	</p>
</div>
